<div class="details">
  <span class="full-name"><%= address.full_name %></span>
  <br/>
  <% if address.company.present? %>
    <br />
    <%= address.company %>
  <% end%>
  <%= address.address1 %>
  <% if address.address2.present? %>
    <br/>
    <%= address.address2 %>
  <% end %>
  <br/>
  <%= address.zipcode != "-" ? address.zipcode : "" %> <%= address.city %>
  <br/>
  <%= address.country.name %>
</div>
